/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/*
  10. Blazor defaults that seem useful
*/

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: var(--default-accent);
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: var(--light);
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
    color: var(--light)
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }
    
/*
  11. Custom defaults for app
*/

:root {
    /* 404046 -> E8E8FF in sRGB space */
    --grey01: #404046;
    --grey02: #515159;
    --grey03: #62626B;
    --grey04: #72727E;
    --grey05: #838390;
    --grey06: #9494A2;
    --grey07: #A5A5B5;
    --grey08: #B6B6C8;
    --grey09: #C6C6DA;
    --grey10: #D7D7EC;
    --grey11: #E8E8FF;
    
    --dark: var(--grey01);
    --mid: var(--grey04);
    --lightish: var(--grey07);
    --light: var(--grey11);
    --default-accent: #FF1493;

    --outline-normal: 1px solid var(--mid);
    --outline-hover: 1px solid var(--lightish);
    --outline-active: 1px solid var(--light);
    --dark-stripes: repeating-linear-gradient(-45deg, var(--dark), var(--dark) 10px, var(--grey02) 10px, var(--grey02) 20px);
    --dark-shadow: 0 0 0.25rem var(--dark);
    --light-shadow: 0 0 0.25rem var(--light);
    
    --icon-width: 48px;
    --icon-width-mobile: 32px;
    --icon-padding: 1rem;
    --border-width: 1px;
    --border-radius: 0.5rem;
    --input-height: 3rem;
    --slider-thumb-width: calc(var(--input-height) / 2);
    --dark-background-padding: 1.5rem;

    --title-bar-height: calc(var(--icon-width) + 2 * var(--icon-padding) + 2 * var(--border-width));
    --title-bar-height-mobile: calc(var(--icon-width-mobile) + 2 * var(--icon-padding) + 2 * var(--border-width));
    --nav-bar-height: 2rem;
    --nav-bar-height-mobile: 1.5rem;
    --nav-button-height: calc(var(--input-height) + 1rem);
    --nav-button-height-mobile: calc(var(--input-height) + 0.5rem);
    --top-bar-height: calc(var(--title-bar-height) + var(--nav-bar-height));
    --top-bar-height-mobile: calc(var(--title-bar-height-mobile) + var(--nav-bar-height-mobile));
    --bottom-bar-height: 6rem;
    --bottom-bar-height-mobile: 4rem;
    
    --transition: 0.25s ease;
}

body {
    background: var(--default-accent); /* overridden when app is loaded, needed for the "loading" screen */
}

* {
    user-select: none
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.icon {
    width: var(--icon-width);
    height: var(--icon-width);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

    .gap-small { 
        gap: 0.5rem;
    }
    
    .gap-medium {
        gap: 1rem;
    }
    
    .gap-large {
        gap: 2rem;
    }

.dark-background {
    background: var(--dark);
    border-radius: var(--border-radius);
    outline: var(--outline-normal);
    padding: var(--dark-background-padding);
}

select, button, .label-as-button {
    background-color: var(--dark);
    color: var(--light);
    width: 100%;
    height: var(--input-height);
    border: var(--border-width) solid var(--dark);
    border-radius: var(--border-radius);
    outline: var(--outline-normal);
}

    .label-as-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    select:hover, button:hover, .label-as-button:hover {
        outline: var(--outline-hover);
    }
    
    select:active, button:active, .label-as-button:active {
        outline: var(--outline-active);
    }

.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input[type=range] {
    appearance: none;
    width: 100%;
    height: var(--input-height);
    border-radius: var(--border-radius);
    outline: var(--outline-normal);
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: var(--slider-thumb-width);
    height: var(--input-height);
    border: var(--border-width) dashed var(--dark);
    border-radius: var(--border-radius);
    outline: var(--border-width) dashed var(--light);
    background: transparent;
    position: relative; /* ensures thumb is rendered on top of slider if any overlap */
}

input[type=range]::-moz-range-thumb {
    appearance: none;
    width: var(--slider-thumb-width);
    height: var(--input-height);
    border: var(--border-width) dashed var(--dark);
    border-radius: var(--border-radius);
    outline: var(--border-width) dashed var(--light);
    background: transparent;
    position: relative; /* ensures thumb is rendered on top of slider if any overlap */
}

.show-thumb::-webkit-slider-thumb {
    opacity: 1;
}

.show-thumb::-moz-range-thumb {
    opacity: 1;
}

.hide-thumb::-webkit-slider-thumb {
    opacity: 0
}

.hide-thumb::-moz-range-thumb {
    opacity: 0
}

.slider-gradient {
    /* background-image: this attribute is set inline by app for better use of dynamic values  */
    background-repeat: no-repeat, repeat, repeat;
    background-size: 100% 50%, 100%, 100%;
    background-position: center, center, center;
}

.slider-value {
    flex: 0 0 4rem;
    text-align: right;
    margin: 0 0.5rem;
}

.slider-label-right {
    flex: 0 0 1.25rem;
    text-align: left;
}

.slider-label-inside-reference-point {
    position: relative;
}

.slider-label-inside {
    position: absolute;
    left: calc(var(--slider-thumb-width) + 0.5rem);
    max-width: 50%; /* not ideal, should really involve width of slider itself for true reusability */
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
}

.light-text {
    color: var(--light);
}

.dark-text {
    color: var(--dark);
}

.dark-text-with-contrast {
    color: var(--dark);
    text-shadow: var(--light-shadow);
}

.light-text-with-contrast {
    color: var(--light);
    text-shadow: var(--dark-shadow);
}

.monospace {
    font-family: monospace;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    white-space: pre;
}

@media screen and (max-width: 720px) {
    .icon {
        width: var(--icon-width-mobile);
        height: var(--icon-width-mobile);
    }
}

@media (prefers-reduced-motion: no-preference)
{
    .icon {
        transition: height var(--transition), width var(--transition);
    }

    select, button, .label-as-button {
        transition: height var(--transition), width var(--transition);
    }
}

/* 
    these classes use dynamically changing colour so need to generated by code in State.razor
    but defined here to provide better IDE navigation (classes generated inside State.razor <style> are not discoverable) 
 */
.colour-background {}
.colour-text {}