@page "/"

<div class="column gap-large dark-background dual-button-reference-point">
    <LightPicker />

    @if (dualMode)
    {
        <LightPicker />
    }

    <button class="dual-button @(dualMode ?  "colour-background" : "")" @onclick="ToggleDualMode">
        <span class=@(dualMode ?  "text-on-colour" : "")>☰</span>
    </button>
</div>