.dual-button-reference-point {
    position: relative;
}

.dual-button {
    /* easiest way to centre button content it seems... */
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--input-height);
    width: var(--input-height);
    
    /* and it's also absolute positioned to be top-right inside the dark background area */
    position: absolute;
    top: var(--content-padding);
    right: var(--content-padding);
}