@page "/"

<div class="column gap-large dark-background dual-button-reference-point">
    <ColourSpacePicker />

    @if (dualMode)
    {
        <ColourSpacePicker />
    }

    <button class="dual-button @ButtonBackgroundCssClass" @onclick="ToggleDualMode">
        <span class="@ButtonTextCssClass">☰</span>
    </button>
</div>

@code {
    private bool dualMode;
    
    private string? ButtonBackgroundCssClass => dualMode ? "colour-background" : null;
    private string ButtonTextCssClass => dualMode ? Utils.TextOnColourCssClass(State.Colour) : "light-text";
    
    private void ToggleDualMode()
    {
        dualMode = !dualMode;
    }
    
    protected override void OnInitialized()
    {
        State.OnColourChange += StateHasChanged;
    }
}