.dual-button-reference-point {
    position: relative;
}

/* positioned to be top-right inside the dark background area */
.dual-button {
    position: absolute;
    top: var(--dark-background-padding);
    right: var(--dark-background-padding);
    width: var(--input-height);
}