.palette {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
}

.paint-button {
    /* easiest way to centre button content it seems... */
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--input-height);
    width: var(--input-height);
    font-size: 1.5rem;
}

    .paint-button:hover {
        filter: var(--border-filter-light-strong);
    }

    .paint-button:active {
        filter: var(--border-filter-light-strong);
    }
    
.paint-button-deselected {
    filter: none;
}

.paint-button-circle {
    filter: var(--border-filter-light);
}