/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/*
  10. Custom defaults
*/

:root {
    --dark: #404046;
    --less-dark: #606069;
    --light: #E8E8FF;
    --less-light: #DADAF0;
    --default-accent: #FF1493
}

body {
    background: var(--default-accent); /* overridden when app is loaded */
}

#app {
    height: 100%;
}

/*
  11. Blazor defaults that seem useful
 */

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: var(--default-accent);
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: var(--light);
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
    color: var(--light)
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }