a {
    text-decoration: inherit;
    color: inherit;
}

.nav-bar {
    height: var(--nav-bar-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: var(--dark);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    outline: var(--outline-normal);
    padding-left: var(--icon-padding);
    padding-right: var(--icon-padding);
}


.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.nav-label {
    display: initial;
    font-size: 0.75rem;
    letter-spacing: 0.075rem;
    width: 2.5rem;
    overflow: hidden; /* required for transitioning to 0 width at small screen */
}

.nav-left-text {
    text-align: right;
}

.nav-right-text {
    text-align: left;
}

.nav-button {
    cursor: pointer;
    position: relative;
    min-height: var(--input-height);
    height: var(--nav-button-height);
    width: calc(var(--input-height) + 1rem);
    font-size: 1.25rem;
}

@media screen and (max-width: 720px) {
    .nav-bar {
        width: 100%;
        height: var(--nav-bar-height-mobile);
        padding-left: 0;
        padding-right: 0;
    }

    /* can't animate display: none */
    .nav-label {
        width: 0;
    }
    
    .nav-button {
        height: var(--nav-button-height-mobile);
    }
}

@media (prefers-reduced-motion: no-preference)
{
    .nav-bar {
        transition: height var(--transition);
    }

    .nav-label {
        transition: width var(--transition);
    }
}